@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

$grey: #888b92;
$darkGrey: #303238;
$almostblack: #101116;
$black: #000000;
$white: #ffffff;

.container {
  background-color: #ededed;
}

.column-setup-modal {
  .modal-header {
    h5 {
      margin-bottom: .1rem;
    }

    P {
      color: $grey;
    }

    .close {
      color: $grey;
      text-shadow: none;
      padding: .3rem;
      font-size: 2rem;
    }

    border-bottom: none;
  }

  .modal-footer {
    border-top: none;
    justify-content: flex-start;

    .btn {
      min-width: 6rem;
      padding: .3rem .75rem;
    }
  }

  .modal-content {
    background-color: $almostblack;
    color: #dbdfe8;
    border-radius: 0;

    .row {
      background-color: $almostblack;

      span {
        color: $grey;
      }

      .drag-list {
        .drag-object {
          padding: 0.2rem;
          transition: 0.1s;
          background: $black;

          span {
            color: $black;
          }
        }

        .drag-object:hover, .drag-object.is-dragging {
          background: $darkGrey;

          span {
            color: $white;
          }
        }
      }
    }

    .left-column {
      border-right: 3px dashed $darkGrey;
    }

    .right-column {

    }
  }
}

}
